@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Space+Grotesk:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    .wrapper{
        margin: 10px auto;
        height: 70%;
        display: flex;
        justify-content: space-around;
        .col{
            flex: 1;
            flex-direction: column;
            justify-content: center;
            margin: 0 8px;
            padding: 10px;
            .color{
                width: 100%;
                height: 100%;
               background-color: #2a82e0;
            }
            .info{
                padding: 15px 15px 45px 15px;
                border-bottom: 1px solid #cecece;
                border-right: 1px solid #cecece;
                border-left: 1px solid #cecece;
                h3{
                    color: #949494;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-bottom: 8px;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    cursor: pointer;
                    // &:hover:after{
                    //     content:'Copy';
                    //     display: block;
                    //     position: absolute;
                    //     bottom: 180px;
                    //     right: 180px;
                    //     background-color: #d2cece;
                    //     padding: 4px;
                    //     border-radius: 8px;
                    //     text-align: center;
                    //     font-size: 14px;
                    //     color: white;
                    //     transition: all .5s ease;
    
                    //     }
                }
                .copied{
                        width: 53px;
                        bottom: 180px;
                        right: 180px;
                        background-color: #d2cece;
                        padding: 4px;
                        border-radius: 8px;
                        text-align: center;
                        font-size: 14px;
                        color: white;
                        transition: all .5s ease;
                    
                    
                    
                }
            }
        }
        
    }

}

.hide{
    opacity: 0;
}